
.readmore {
	clear: both;
}

span.navigation {
	display: flex;
	justify-content: space-between
}
ul.navigation {
	padding: 0;
	display: inline;
}
ul.navigation li {
	display: inline;
}

main {
	clear: both;
}

div.titleimage {
	text-align: center;
}

nav, article.post {
    /*border-bottom: thin solid #888888;*/
}

article.post {
	/*margin-top: 5em;*/
}

/*
div.item {
    border-bottom: thin solid #888888;
}
*/

div.item {
	margin-top: 2em;
}

.slides {
	clear: both;
}
.slides > div {
	display: inline-block;
	/*width: 30%;*/
	vertical-align: top;
	font-size: 0.8em;
}

main > section {
    border-bottom: thin solid #888888;
}

.gallerycell {
	vertical-align: top;
	/*width: 30%;*/
	padding: 5px;
}

.post {
	display: inline-block;
	/*width: 30%;*/
	vertical-align: top;
	font-size: 0.8em;
}

.thumbnail-container {
	position: relative;
	max-height: 20em;
	overflow: hidden;
}

.nsfw-warning {
	color: #ffffff;
	background-color: #884444;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: bold;
	border-radius: 1em;
	padding: 0.5em;
}

ul.posttags > li {
	display: inline-block;
	padding: 0.5em;
	margin-bottom: 0.5em;
	color: #ffffff;
	background-color: #777777;
	border-radius: 0.5em;
}

.rsslink {
	/*background-color: #9c5e23;*/
	background-color: #222244;
	border-radius: 0.5em;
	padding: 0.5em;
}
.rsslink > a {
	color: #ffffff;
}
.mainsection {
	clear: both;
	padding-bottom: 1em;
}
.listcontent {
	clear: both;
}

.postnav {
	display: flex;
	justify-content: space-between
}
.prevpost {
}
.nextpost {
}

.prevpost, .nextpost {
	border-radius: 0.2em;
	border-color: #999999;
	border-width: 1px;
    border-style: solid;
    padding: 0.2em 0.2em 0 0.2em;
    margin: 0.2em 0 0.2em 0;
}}

