/*
.slides > div {
	width: 100%;
}

.post {
	width: 100%;
}

.gallerycell {
	width: 100%;
}
*/
p.more {
	text-align: right;
}
#titleimage {
	padding: 1em 0 1em 0;
}

/* slides are laid out as grids */

.slide {
	width: 100%;
	display: grid; 
	grid-template-columns: 30% 70%; 
	grid-template-rows: min-content auto min-content min-content; 
	gap: 0px 10px; 
	grid-template-areas: 
		". ."
		". ."
		". ."
		". ."; 
}

.thumbnail-container {
    /*aspect-ratio: 1 / 1;*/
    /*height: 100%;*/
}

.slide-thumbnail {
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: 4;
}
.slide-title {
	grid-column-start: 2;
	grid-row-start: 1;
}
.slide-meta {
	grid-column-start: 2;
	grid-row-start: 3;
}
.slide-summary {
	grid-column-start: 2;
	grid-row-start: 2;
}
.slide-readmore {
	grid-column-start: 2;
	grid-row-start: 4;
}
