/* Single column centered layout, with stretchy body, containing a main and a (possibly sticky) footer */

* {
    box-sizing: border-box;
}
html {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    justify-content: space-around; /* the body has one child (body), and it sits in the middle of the screen */
    margin: 0em; /* tight fit */
}
body {
    min-height: 100vh; /* make the body grow as tall as the screen, if it isn't taller already */
    display: flex;
    flex-direction: column;
    /* option 1: this makes a sticky footer at the bottom */
    justify-content: space-between;
    max-width: 100%; /* The body should never grow beyond the screen size, esp. for mobiles! */
    margin: 0; /* tight fit */
}
footer {
    /*flex-grow: 100;*/
    text-align: center;
    min-height: 12em; /* allow to grow */
}

